<% include header %>
<body>
	<% include navbar %>

	<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="inviteModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="inviteModalLabel">Invite People to <%= event.name %></h4>
				</div>
				<div class="modal-body">
					<form role="form" action="/invite" method="post">
						<input type="hidden" name="userID" value="<%= user._id %>">
						<input type="hidden" name="eventID" value="<%= event._id %>">
						<% for (var i = 0; i < user.following.length; i++) { %>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="invite" value="<%= user.following[i]._id %>">
									<%= user.following[i].userName %> 
								</label>
							</div>	
						<% } %>

						<div class="form-group">
							<button type="submit" class="btn btn-primary">Submit Invites</button>
						</div>			
					</form>	
				</div>
			</div>
		</div> 
	</div>

	<div class="container content">
		<br>
		<br>
		<div class="panel panel-default nopadding">
			
			<div class="panel-heading row eventrows">
					<div class="col-sm-6">
						<h4><b><img src="../img/sportsmall.png"> </img><%= event.name %></b></h4>
					</div>
					<div class="col-sm-6">
						<h4><b>Sport:</b> <%= event.sport %></h4>
						<h4><b>Time:</b> <%= event.startTime %></h4>
						<h4><b>Location:</b> <%= event.location %></h4>
					</div>
			</div>
			
			<div class="panel-body">
					<h4><b>Event Description:</b></h4>
					<p><%= event.description %></p>
			</div>
			<div class="panel-footer">
				<h4><b>Who's Attending?</b></h4>
				<% for (var j = 0; j < event.users.length; j++) { %>
					<p><a href="/user/<%= event.users[j]._id %>"><%= event.users[j].userName %></a></p>
				<% } %>
				<button class="btn btn-primary" data-toggle="modal" data-target="#inviteModal">
					Invite Followees... 
				</button>
			</div>
		</div>
		
		<div class="panel panel-default nopadding">
			<div class="panel-heading">
				<h3><b>Event Discussion</b><h6>(<%= event.comments.length %> comment(s))</h6></h3> 
			</div>

			<div class="panel-body">
				<% if (event.comments.length === 0) { %>
					<h4>Be the first to comment on this event!</h4>
				<% } else { %>
					<ul id="comments" class="list-group">
						<% for(var i = 0; i < event.comments.length; i++){ %>
							<li class="list-group-item">
								<% if (event.comments[i].user == user.userName){ %>
									<div class="putright">
										<button type="submit" id="leavecomment" class="btn btn-danger btn-lg delete-comment" value="<%= event.comments[i]._id %>">
											Delete Your Comment
										</button>
									</div>
								<% } %>
								<p>
									<h4><b><%= event.comments[i].user %> says:</b></h4>
									<%= event.comments[i].comment %>
								</p>

								<div class="commentdate"> Posted <%= event.comments[i].date %></div>
							</li>
						<% } %>
					</ul>
				<% } %>
			</div>

			<div class="panel-footer">
				<form role="form" action="/comments/<%=event._id%>" method="post" id="newComment">
					<textarea class="form-control" rows="3" placeholder="Enter a Comment..." name="comment" required></textarea>
					<br>
					<div class="row">
						<div class="col-sm-12">
							<button type="submit" id="leavecomment" class="btn btn-default btn-lg pull-right">
								<span class="glyphicon glyphicon-bullhorn"></span> Leave a Comment
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<% include js %>
	<script>
		$(document).ready(function() {
			$('.delete-comment').click(function() {
				var commentID = $(this).attr('value');
				$.ajax({
					type: 'DELETE',
					url: '/comments/' + commentID,
					success: function(data) {
						console.log('---- HERE ------');
						location.reload();
					},
					error: function(jqXHR, textStatus, errorThrown) {
						console.log(textStatus);
					}
				});
			});
		});
	</script>
</body>
</html>
