<% include header %>
<body>
	<% include navbar %>
	<div class="container content">
		<h1 class="white header"> Your Events </h1>
			<a href="/createevent">
				<button type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon-flag"></span> Create an Event
				</button>
			</a>
			<br>
			<br>

			<% for (var eIndex in events) { %>
				<div class="panel panel-default nopadding">
				
					<div class="panel-heading row eventrows">
							<div class="col-sm-5">
								<h4><b><img src="../img/sportsmall.png"> </img><%= events[eIndex].name %></b></h4>
							</div>
							<div class="col-sm-5">
								<h4>
									<p><b>Time:</b> <%= events[eIndex].startTime %></p>
									<p><b>Location:</b> <%= events[eIndex].location %></p>
								</h4>
							</div>
							<div class="col-sm-2">
								<div class="btn-group">
								  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									<h4>Actions <span class="caret"></span></h4>
								  </button>
								  <ul class="dropdown-menu" role="menu">
									<li><a href="#">Leave Event</a></li>
								  </ul>
							</div>
							</div>
					</div>
					
					<div class="panel-body">
						<h4><b>Event Description:</b></h4>
						<p><%= events[eIndex].description %></p>
						<a href="/event/<%= events[eIndex]._id %>" class="read_more">...click to see more</a><br/>
					</div>

					<div class="panel-footer">
						<h4><b>Who's Attending?</b></h4>
						<p>Placeholder that needs to be replaced</p>
					</div>
				</div>
			<% } %>
			
	</div>
	<% include js %>
	<script src="js/events.js"></script>
</body>
</html>
