<% include header %>
<body>
	<% include navbar %>
	
	<div class="container content">
		<h1 class="white header"> Search Results </h1>
	
		<button type="button" class="btn btn-primary form-control">Find Events</button>

		<% for (var i = 0; i < events.length; i++) { %>
					
						<div class="panel panel-default nopadding">
							<div class="panel-heading row eventrows">
									<div class="col-sm-4">
										<a href="/event/<%= events[i]._id %>"> 
											<h4><b><img src="../img/sportsmall.png"> </img><%= events[i].name %></b></h4>
										</a>
									</div>
									<div class="col-sm-5">
										<h4><b>Sport:</b> <%= events[i].sport %></h4>
										<h4><b>Time:</b> <%= events[i].startTime %></h4>
										<h4><b>Location:</b> <%= events[i].location %></h4>
									</div>
									<div class="col-sm-3">
										<button class="btn btn-success btn-lg btn-block join-event" value="<%= events[i]._id %>">Join Event</button>
										<!-- Use this for the search page
										<div class="btn-group">
										  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
											<h4>Actions <span class="caret"></span></h4>
										  </button>
										  <ul class="dropdown-menu" role="menu">
											<li><a href="#">Leave Event</a></li>
										  </ul>
										</div>
										-->
									</div>
							</div>
							
							<div class="panel-body">
								<h4><b>Event Description:</b></h4>
								<p><%= events[i].description %></p>
								<a href="/event/<%= events[i]._id %>" class="read_more">...click to see more</a><br/>
							</div>

							<div class="panel-footer">
								<h4><b>Who's Attending?</b></h4>
								<% for (var j = 0; j < events[i].users.length; j++) { %>
									<p><a href="/user/<%= events[i].users[j]._id %>"><%= events[i].users[j].userName %></a></p>
								<% } %>
							</div>
						</div>
					
				<% } %>
		
	</div>
	
	<% include js %>	
	<script src="/js/search.js"></script>

</body>
</html>