<% include header %>
<body>
	<% include navbar %>
	
	<div class="container content">
		<h1 class="white header"> Search Results </h1>

		<% if (events.length === 0) { %>
			<div class="panel panel-primary">
				<h4>Sorry no results match your search criteria.</h4>
				<h4>Please search again or create your own event!</h4>
				
				<form>
					<br></br>
					<button type="button" class="btn btn-primary form-control" onClick="history.go(-1).reload(true);return true;" value="refresh">Return To Search Page</button>
					<br></br>
				</form>
				
				<p>
					<a href="/createevent">
						<button type="button" class="btn btn-primary form-control">Create Your Own Event</button>
					</a>
				</p>
				
			</div>
		<% } else { %>
			<div class="panel panel-primary">
				<h4>We have found the following events!</h4>
				<h4>If you are not satisfied you can search again or create your own event!</h4>
				
				<form>
					<br></br>
					<button type="button" class="btn btn-primary form-control" onClick="history.go(-1).reload(true);return true;" >Return To Search Page</button>
					<br></br>
				</form>
				
				<p>
					<a href="/createevent">
						<button type="button" class="btn btn-primary form-control">Create Your Own Event</button>
					</a>
				</p>
			</div>
		
			<% for (var i = 0; i < events.length; i++) { %>
				<% if (eventlist.user.indexOf(events[i]) === -1) { %>
						<div class="panel panel-default nopadding">
							<div class="panel-heading row eventrows">
									<div class="col-sm-4">
										<a href="/event/<%= events[i]._id %>"> 
											<h4><b><img src="../img/sportsmall.png"> </img><%= events[i].name %></b></h4>
										</a>
									</div>
									<div class="col-sm-5">
										<h4><b>Sport:</b> <%= events[i].sport %></h4>
										<h4><b>Time:</b> <%= events[i].startTime %></h4>
										<h4><b>Location:</b> <%= events[i].location %></h4>
									</div>
									<div class="col-sm-3">
										<button class="btn btn-success btn-lg btn-block join-event" value="<%= events[i]._id %>">Join Event</button>
									</div>
							</div>
							
							<div class="panel-body">
								<h4><b>Event Description:</b></h4>
								<p><%= events[i].description %></p>
								<a href="/event/<%= events[i]._id %>" class="read_more">...click to see more</a><br/>
							</div>

							<div class="panel-footer">
								<h4><b>Who's Attending?</b></h4>
								<% for (var j = 0; j < events[i].users.length; j++) { %>
									<p><a href="/user/<%= events[i].users[j]._id %>"><%= events[i].users[j].userName %></a></p>
								<% } %>
							</div>
						</div>
					<% } else { %>
						<div class="panel panel-default nopadding">
							<div class="panel-heading row eventrows">
									<div class="col-sm-4">
										<a href="/event/<%= events[i]._id %>"> 
											<h4><b><img src="../img/sportsmall.png"> </img><%= events[i].name %></b></h4>
										</a>
									</div>
									<div class="col-sm-5">
										<h4><b>Sport:</b> <%= events[i].sport %></h4>
										<h4><b>Time:</b> <%= events[i].startTime %></h4>
										<h4><b>Location:</b> <%= events[i].location %></h4>
									</div>
									<div class="col-sm-3">
										<button class="btn btn-danger btn-lg btn-block leave-event" value="<%= events[i]._id %>">Leave Event</button>
									</div>
							</div>
							
							<div class="panel-body">
								<h4><b>Event Description:</b></h4>
								<p><%= events[i].description %></p>
								<a href="/event/<%= events[i]._id %>" class="read_more">...click to see more</a><br/>
							</div>

							<div class="panel-footer">
								<h4><b>Who's Attending?</b></h4>
								<% for (var j = 0; j < events[i].users.length; j++) { %>
									<p><a href="/user/<%= events[i].users[j]._id %>"><%= events[i].users[j].userName %></a></p>
								<% } %>
							</div>
						</div>
					<% } %>
				<% } %>
			<% } %>
	</div>
	
	<% include js %>
	<script src="/js/events.js"></script>
	<script src="/js/search.js"></script>

</body>
</html>